body {
    margin: 0;
}

.main-container,
.footer-links {
    display: flex;
}

.main-container { 
    width: 100%;
}

.main-container {
    flex-direction: column;
}

footer {
    width: 100%;
    background-color: black;
}

.footer-txt {
    color: white;
}

.footer-txt:hover {
    cursor: pointer;
}

.footer-bttn:hover {
    background-color: #3e0a55;
}

footer a {
    text-decoration: none;
}

.footer-bttn {
    padding: 0.8rem;
    background-color: #2E073F;
    width: 100%;
    text-align: center;
}

.footer-bttn a {
    width: 100%;
}

.footer-links {
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem;
}

.footer-links a {
    color: white;   
}

/* CSS for displayed img when no fragrance-related img is had*/
.no-img {
  position: relative;
}

.no-img img {
  width: 100%;
  height: 100%;
}

.img-txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
}