{% extends "parent-templates/base-content.html" %}
{% block title %}FAF - All Brands{% endblock %}
{% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/all-brands.css') }}">
{% endblock %}

{% block content %}
<div class="brands-container">

    {% for letter, brands in brandSet.items() %}
        <div class="letter-container">
            <div class="letter-header">
                <h1 class="heading">{{letter}}</h1>
            </div>
            <div class="letter-brands">
                {% for b in brands %}
                <a href="{{ url_for('selected_brand', slug=b.name|slugify) }}"><h4>{{b.name}}</h4></a>
                {% endfor %}
            </div>
        </div>
    {% endfor %}

</div>

{% endblock %}

{% block scripts %}
{% endblock %}