{% extends "parent-templates/base-content.html" %}
{% block title %}Find A Frag{% endblock %}
{% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}

<div class="prompt-container">
    <h1 class="heading">Find a cologne for you - just type away!</h1>
    <div class="input-container">
        <form method="POST" id="chatbox" action="/search/desc">
            <textarea name="query" id="desc" placeholder="e.g., vanilla, sweet, with a hint of amber"></textarea>
        </form>
    </div>
</div>

<div class="key-container">
    <h2 class="key-label heading">Key:</h2><div class="key-nts">Notes</div><div class="key-accs">Accords</div>
</div>

<div class="frags-container spacing">
    {% for frag in frags %} 
    <div class="frag-container">
        <div class="frag-header">
            <p class="frag-perf heading">{{frag.perfume}}</p>
            <a href="{{frag.url}}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5"/>
                    <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z"/>
                </svg>
            </a>
        </div>
        <div class="frag-img">
            {% if frag.img %}
                <img src="{{frag.img}}">
            {% else %}
                <img src="{{ url_for('static', filename='imgs/DefaultFrag.png') }}">
            {% endif %}
        </div>
        <div class="frag-about">
            <p class="frag-brand">{{frag.brand.name}}</p>
            <p class="frag-desc">{{frag.desc}}</p>
            <div class="frag-notes">
            {% for nt in frag.notes %}
                <p>{{nt.nt}}</p>
            {% endfor %}
            </div>
            <div class="frag-accs">
                {% for acc in frag.accords %}
                    <p>{{acc.acc}}</p>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="info-container spacing">
    <h2 class="heading heading-basic">Fragrance Types</h2>
    <div class="conc-info">
        {% for typ in concs.values() %}
        <div class="conc-container">
            <div class="conc-header">
                <p class="conc-typ">{{typ.type}}</p>
            </div>
            <div class="conc-about">
                <p class="conc-conc">Concentration: {{typ.conc}}</p>
                <div class="progress mb-4">
                    <div class="progress-bar hello" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" data-per="{{typ.per}}"></div>
                </div>
                <p class="conc-hrs">Longevity: {{typ.hrs}}</p>
                <div class="conc-notes">
                    {% for nt in typ.nts %}
                    <p>{{nt}}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <h2 class="heading heading-basic">Notes &amp; Accords</h2>
    <div class="scents-info">
        <div class="nts-info">
            <div class="txt-boxes">
                {% for nt in nts.values() %}
                    <p class="info-nt">{{nt}}</p>
                {% endfor %}
            </div>
        </div>
        <div class="accs-info">
            <div class="txt-boxes">
                {% for acc in accs.values() %}
                    <p class="info-acc">{{acc}}</p>
                {% endfor %}
            </div> 
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='scripts/chatbox.js')}}"></script>
<script src="{{ url_for('static', filename='scripts/index.js')}}" defer></script>
{% endblock %}